<div>
    <h1>Image upload</h1>
    <h3>You have the option of uploading a picture and sending it with the message.</h3>
    <p>Please, select a file from type image.</p>

    <div class="file-event-area">
        <input [hidden]="true" type="file" #file (change)="showPreview($event, previewImg)" accept="*.png.jpg">
        <button mat-flat-button (click)="file.click()" class="file-event-button">Choose File</button>
        <img #previewImg class="img-size">
        <button mat-flat-button (click)="uploadFile($event)" class="file-event-button">Upload File</button>
    </div>
</div>

<!--<button>
    <button (click)="file.click()">Upload file</button>
</button>-->