<div class="upload-container">
    <h2>Image upload</h2>

    <div class="file-event-area">
        <div class="choose">
            <input [hidden]="true" type="file" #file (change)="showPreview($event, previewImg)" accept="*.png.jpg">
            <button mat-fab (click)="file.click()" class="file-event-button">
                <mat-icon>add</mat-icon>
            </button>
            <p><b>Select your photo</b></p>
        </div>
        <img #previewImg class="preview-img">
        <button mat-flat-button (click)="uploadFile($event)" class="file-event-button">Upload Image</button>
    </div>
</div>