<p>direct-message works!</p>

<mat-drawer class="thread-container" mode="side" position="end" [opened]="true">
    <div class="title-container">
        <b>#allgemein</b> 
        <button type="button" mat-button class="close-btn">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="title-container">
        <b>Hallo</b> 
        <button type="button" mat-button class="close-btn">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</mat-drawer>


