.thread-container {
    width: 100%;
}

.title-container {
    min-height: 56px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;    
    font-size: 1.2em;
}

.close-btn {
    min-width: 36px !important;
    min-height: 36px !important;
    padding: 0 !important;
}

.message-box {
    position: absolute;
    left: 16px;
    right: 16px;
    bottom: 16px;
    display: flex;
    flex-direction: column;
}

.text-design-function-area {
    background-color: rgb(233, 233, 233);
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

.mat-form-field {
    margin-right: 12px;
}

.text-area {
    width: 100%;
}

.message-destination-area {
    margin: 16px;
}