<p>direct-message works!</p>

<mat-drawer class="thread-container" mode="side" position="end" [opened]="true">
    <div class="title-container">
        <b>#allgemein (Chat-Name)</b>
        <button type="button" mat-button class="close-btn">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="title-container">
        Channel Lesezeichen hinzufügen
        <button type="button" mat-button class="close-btn">
            <mat-icon>close</mat-icon>
        </button>
        <li routerLink="message_box">Nachrichten-Box öffnen</li>
    </div>

    <div class="message-destination-area">
        Zielort der Nachrichten
    </div>

    <mat-card class="message-box">
        <div class="text-design-function-area">
            Text-Design-Funktionen
        </div>
        <div>
            <mat-form-field appearance="fill" class="text-area">
                <mat-label>Nachrichten senden an #allgemein</mat-label>
                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="10"></textarea>
            </mat-form-field>
        </div>
        <div class="text-design-function-area">
            Zusatzfunktionen und Senden-Button
            <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                <mat-icon>send</mat-icon>
              </button>
              <button mat-flat-button color="primary"><mat-icon>send</mat-icon></button>
            
        </div>
    </mat-card>

    <mat-drawer-container class="main-container">
        <div class="router-container">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-container>
</mat-drawer>