<div class="add-channel-container">
    <!--<h1 mat-dialog-title><b>Channels erstellen</b></h1>-->
    <b mat-dialog-title>Channels erstellen</b>
    <div class="close-btn">
        <button mat-button (click)="dialogRef.close()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content class="color-gr">
        Hier können themenbezogene Channels erstellt werden, um die Kommunikation mit deinem Team zu
        erleichtern.
    </div>
    <div class="form-container">
        <div>
            <div>
                <b>Name</b>
            </div>
            <mat-form-field class="with-100 pos-relativ" appearance="outline">
                <!--<mat-label>Name des Channels</mat-label>-->
                <input class="value-pos" matInput [formControl]="name" required placeholder="z.B. Marketing" [(ngModel)]="channel.category">
                <label class="fixed-value color-gr">#</label>
                <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
        <div>
            <div>
                <b>Beschreibung</b> (optional)
            </div>
            <mat-form-field class="with-100" appearance="outline">
                <!--<mat-label>Beschreibung</mat-label>-->
                <input matInput [(ngModel)]="channel.description">
                <mat-hint>Worum geht es in diesem Channel?</mat-hint>
            </mat-form-field>
        </div>
    </div>
    <div class="btn-container">
        <button [disabled]="name.invalid" mat-raised-button class="create-btn" (click)="createChannel()">Erstellen</button>
    </div>
</div>