<h1 mat-dialog-title>Channels erstellen</h1>
<div mat-dialog-content>Hier können themenbezogene Channels erstellt werden, um die Kommunikation mit deinem Team zu erleichtern.</div>
<div>
    <mat-form-field appearance="outline">
        <mat-label>Name des Channels</mat-label>
        <input matInput placeholder="z.B. Marketing">
    </mat-form-field>
</div>
<div>
    <mat-form-field appearance="outline">
        <mat-label>Beschreibung</mat-label>
        <input matInput placeholder="Beschreibung">
        <mat-hint>Worum geht es in diesem Channel?</mat-hint>
    </mat-form-field>
</div>
<button mat-raised-button>Erstellen</button>
