.add-channel-container {
    position: relative;
}

.form-container {
    margin-top: 16px;
}


.btn-container {
    display: flex;
    justify-content: flex-end;
}

.create-btn {
    background-color: #209c20;
    color: white;
}