.header-search-channel {
    position: relative;
  
}

.create-btn-top {
    position: absolute;
    top: 16px;
    right: 16px;
    line-height: 24px !important;
}

.create-btn-center {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: smaller;
}

.create-btn {
    background-color: #209c20;
    color: white;
}

.search {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

.pos-relativ {
    position: relative;
}

.value-pos {
    padding-left: 32px;
}

.fixed-value {
    position: absolute;
    top: 8px;
    left: 0px;
}

.all-channels {
    padding-left: 16px;
    padding-right: 16px;
}