<div class="header-search-channel title-container">
    <b>Channel-Browser</b>
    <!--<button mat-stroked-button class="create-btn create-btn-top" (click)="openAddChannel()">Channel erstellen</button>-->
</div>
<div class="search">
    <mat-form-field class="with-100 pos-relativ" appearance="outline">
        <input class="value-pos" matInput placeholder="Nach Channel-Name oder Beschreibung suchen"
            [(ngModel)]="searchText" [(ngModel)]="value">
        <label class="fixed-value color-gr">
            <mat-icon>search</mat-icon>
        </label>
        <button *ngIf="value" matSuffix mat-icon-button (click)="value=''">
            <mat-icon>cancel</mat-icon>
        </button>
    </mat-form-field>
</div>
<div class="pad-16">
    <div class="amount color-gr">
        {{ allChannels.length }} Channels
    </div>
    <mat-divider></mat-divider>
</div>
<div class="all-channels">
    <mat-list *ngFor="let channel of allChannels | filter:searchText; let lastItem = last"
        [routerLink]="['/main-page/channel/' + channel.customIdChannel]">
        <mat-list-item class="channel-item">
            <div class="channel-name">
                <b># {{ channel.category }}</b>
            </div>
            <div class="channel-description color-gr">
                {{ channel.description }}
            </div>
            <div class="channel-action">
                <!--<button mat-stroked-button
                    [routerLink]="['/main-page/channel/' + channel.customIdChannel]">Ansicht</button>-->
                <button mat-raised-button class="create-btn join-btn" (click)="joinChannel()">Beitreten</button>
            </div>
        </mat-list-item>
        <mat-divider *ngIf="!lastItem"></mat-divider>
    </mat-list>
</div>
<div class="create-btn-center">
    <button mat-raised-button class="create-btn" (click)="openAddChannel()">Channel erstellen</button>
</div>