.header-search-channel {
    position: relative;
  
}

.create-btn-top {
    position: absolute;
    top: 16px;
    right: 16px;
    line-height: 24px !important;
}

.create-btn-center {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: smaller;
    margin-bottom: 32px;
}

.create-btn {
    background-color: #209c20;
    color: white;
}

.search {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

.pos-relativ {
    position: relative;
}

.value-pos {
    padding-left: 32px;
}

.fixed-value {
    position: absolute;
    top: 8px;
    left: 0px;
}

/*.cancle-input {
    position: absolute;
    top: 8px;
    right: 0;
}*/

.pad-16 {
    padding-left: 16px;
    padding-right: 16px;
}

.amount {
    padding-bottom: 8px;
}

.all-channels {
    padding-left: 16px;
    padding-right: 16px;
}

::ng-deep.mat-list-item-content {
    display: flex;
    flex-direction: column !important;
    align-items: flex-start !important;
}

::ng-deep.mat-list-base, .mat-list-item {
    padding-top: 0px !important;
    height: 64px !important;

    &:hover {
        background-color: rgba(0, 0, 0, 0.04) ;
    }
}

.channel-description {
    font-size: 14px;
    padding-bottom: 16px;
}

.channel-item {
    position: relative;
    cursor: pointer;
}

.channel-item:hover  .channel-action {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    /*background-color: rgba(0, 0, 0, 0.04);*/
    justify-content: flex-end;
    align-items: center;
    /*cursor: pointer;*/
}

.channel-name {
    padding-top: 16px;
}

.joined-status{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #209c20;
    font-size: 14px;
}
