.start-container {
    margin-bottom: 8vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info {
    color: #ffc107;
    font-size: 18px;
    margin-top: 3vh;
}

.signin-container {
    min-width: 28vw;
    min-height: 24vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signin-header {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 24px;
}

button {
    margin: 5px;
    width: 112px;
    background-color: #481449 !important;
}

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95vh;
    justify-content: center;
    }

.header {
    /*margin-bottom: 15vh;*/
    font-size: 3vw;
    font-weight: 600;
}

.login-status {
    margin-top: 12px;
    color: #ffc107;
    margin-bottom: 12px;
}

.project-information {
    font-weight: 600;
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 24px;

    box-shadow: 0px -6px 3px -7px;
    padding-top: 6px;
}

.login-stat-green {
    margin-top: 12px;
    color: #209c20;
    margin-bottom: 12px; 
}

.btn-green {
    background-color: #209c20 !important;
}

.guest-btn {
    background-color: #209c20 !important;
    width: unset !important;
}

.logout-btn {
    background-color: #e91e63 !important;
}
