<div class="start-container">
    <div class="header">Willkommen bei Simple-Slack</div>
    <div class="info">Simple-Slack ist eine Business App wo du dich mit deinen Kollegen einfach austauschen kannst!
    </div>
</div>

<mat-card class="signin-container">
    <div class="signin-header">Sign in to Simple-Slack</div>
    <div class="column-center">
        <button mat-raised-button color="primary" routerLink="/login">
            Login
        </button>
        <button mat-raised-button color="primary" routerLink="/signup">
            Signup
        </button>
        <div class="column-center login-stat-green" *ngIf="(afAuth.user | async)">
            Du bist bereits eingeloggt!
        </div>
        <button mat-raised-button color="primary" class="btn-green" *ngIf="(afAuth.user | async)"
            routerLink="/main-page">
            Dashboard
        </button>
        <button mat-raised-button color="primary" class="logout-btn" *ngIf="(afAuth.user | async)" (click)="logout()">
            Log out
        </button>
        <div class="login-status" *ngIf="!(afAuth.user | async)">
            Du bist noch nicht eingeloggt!
        </div>
        <button *ngIf="!(afAuth.user | async)" mat-raised-button color="primary" class="guest-btn"
            (click)="signinGuest()">
            weiter als Gast
        </button>
        <!--<div class="project-information">Project background information</div>
        <button class="light-grey" mat-raised-button color="primary" (click)="openDialog()">Technologies</button>-->
    </div>
</mat-card>