
<mat-card class="message-box">
    <div class="text-design-function-area">
        Text-Design-Funktionen
        <button mat-flat-button color="none" 
        class="icon-button" 
        (click)="enableDisableRule()" 
        [ngClass]="{'light-grey' : toggle, 'grey': !toggle}">
            <mat-icon>code</mat-icon>
        </button>

    </div>
    <div>
        <mat-form-field appearance="fill" class="text-area">
            <mat-label>Nachrichten senden an #allgemein</mat-label>
            <textarea #message required minlength="1" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="10"></textarea>
        </mat-form-field>
    </div>
    <div class="text-design-function-area">
        Zusatzfunktionen und Senden-Button
        <button mat-flat-button class="send-icon-button"(click)="toSendMessage()" 
        > <!--color="primary" -->
            <mat-icon>send</mat-icon>
        </button>

    </div>
</mat-card>