.main-container {
    min-height: 100vh;

}

.sidenav {
    width: 300px;
    background-color: #481449;
    color: white;
  
  
}

.menu-items {
   list-style-type: none;
}

mat-toolbar {
    background-color: #330e34;
}

.header {
    color: white;
    height: 56px;
    width: 100vw;
}

