.main-container {
    /*min-height: 100vh;*/
    height: 95vh;

}

.sidenav {
    width: 300px;
    background-color: #481449;
    color: white; 
}

.title-navigation {
    min-height: 56px;
    border-bottom: 1px solid rgb(246 246 246 / 10%);
    display: flex;
    align-items: center;
}

.menu-items {
   list-style-type: none;
   padding: 0;
   margin: 0;

   .nav-item {
       cursor: pointer;
       display: flex;
       align-items: center;
       padding-left: 28px;
       padding-right: 16px;
       padding-top: 16px;
       padding-bottom: 16px;
       position: relative;


       &:hover {
           background-color: rgba(0, 0, 0, 0.08);
       }
   }
}

.chat-icon {
  font-size: 18px !important;
  padding-top: 6px;
}

.add-icon {
    position: absolute;
    right: 16px;
}

mat-toolbar {
    background-color: #330e34;
}

.header {
    position: relative;
    color: white;
    /*height: 56px;*/
    height: 5vh;
    width: 100vw;
}

.logout-btn {
    position: absolute;
    right: 32px;
    font-size: 16px;
    font-weight: 400;
}

::ng-deep.mat-drawer-content {
    overflow-x: hidden !important;
}

.ex-panel {
    width: 100%;
}

::ng-deep.mat-expansion-panel {
    background-color: #481449 !important;
    box-shadow: unset !important;
}

::ng-deep.mat-expansion-panel-header-title {
    color: white !important;
}