<mat-toolbar class="header">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Simple Slack</span>
    <span class="example-spacer"></span>
</mat-toolbar>

<mat-drawer-container class="main-container">
    <mat-drawer class="sidenav" mode="side" [opened]="true">
        <div class="title-navigation">
            <button mat-button routerLink="">
                <mat-icon>home</mat-icon>
            </button>
        </div>
        <div class="menu-items">
            <div class="nav-item">
                <mat-icon class="chat-icon">chat</mat-icon>Threads
            </div>

            <mat-accordion class="ex-panel" multi>
                <mat-expansion-panel [hideToggle]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon>arrow_drop_down</mat-icon>
                            Channels
                            <mat-icon matTooltip="Channels hinzufügen" matTooltipPosition="above" class="add-icon"
                                [matMenuTriggerFor]="menu1">add</mat-icon>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
            </mat-accordion>

            <mat-accordion class="ex-panel" multi>
                <mat-expansion-panel [hideToggle]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon>arrow_drop_down</mat-icon>
                            Direktnachrichten
                            <mat-icon matTooltip="Direktnachricht öffnen" matTooltipPosition="above" class="add-icon"
                                routerLink="directmessageadd">add</mat-icon>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
            </mat-accordion>

        </div>

        <mat-menu #menu1="matMenu">
            <button mat-menu-item routerLink="search_channel">Channels durchsuchen</button>
            <button mat-menu-item (click)="openAddChannel()">Channels erstellen</button>
        </mat-menu>
    </mat-drawer>


    <div class="router-container">
        <router-outlet></router-outlet>
    </div>
    <!--<mat-drawer #drawer class="thread-container" mode="side" position="end" [opened]="true">
        <div class="title-container">
            <b>Thread</b>
            <button type="button" mat-button class="close-btn" (click)="drawer.toggle()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <div></div>
    </mat-drawer>-->
</mat-drawer-container>