@import "~prismjs/themes/prism-okaidia";
// @import "~prismjs/themes/prism-tomorrow";
// @import "~prismjs/themes/prism-solarizedlight";
// @import "~prismjs/themes/prism";
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.margin-16 {
  margin: 16px !important;
}

.padding-16 {
  padding: 16px !important;
}

.column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.with-100 {
  width: 100%;
}

.color-gr {
  color: #9c9c9c;
}

.title-container {
  min-height: 56px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 1.2em;
}

.thread-container {
  width: 600px;
}

.close-btn {
  min-width: 36px !important;
  min-height: 36px !important;
  padding: 0 !important;
}

h1 {
  padding: 10px 0;
  text-align: center;
  font-weight: 200;
  font-size: 50px;
  color: rgb(233, 233, 233);
}

p {
  text-align: center;
  font-size: 20px;
  color: rgb(214, 214, 214);
  margin-bottom: 20px;
}

// Prism.js line numbers plugin
.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 15px;
  font-size: 100%;
  left: 0;
  width: 3em;
  letter-spacing: -1px;
  border-right: 1px solid rgb(179, 179, 179);
  user-select: none;
}

.line-numbers-rows > span {
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: rgb(219, 219, 219);
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

.channel-msg {
  &:hover {
    background-color: rgba(0, 0, 0, 0.04) !important;
  }
}

.msg-box {
  display: flex;
  flex-direction: column-reverse;
}

.user {
  position: relative;
  .user-img {
    position: absolute;
    top: 0;
    left: 0;
    img {
      object-fit: cover;
      height: 40px;
      width: 40px;
      border-radius: 4px;
    }
  }
}

.pd-left-56 {
  padding-left: 56px;
}

.pd-left-8 {
  padding-left: 8px;
}
