<mat-drawer-container class="main-container">
  <div class="title-container">
    <b># {{ channel.category }}</b>
    <div class="members" type="button">
      <div>
        <b>{{ allChannelMembers.length }}</b> Mitglieder
      </div>
      <div class="show-members">
        <div class="member-box" *ngFor="let member of allChannelMembers">
          <div class="member-item">{{ member.memberID }}</div>
        </div>
      </div>
    </div>
    <button *ngIf="!isMember" mat-raised-button class="join-btn" (click)="joinChannel()">Beitreten</button>
  </div>

  <div class="msg-box scroll-container" #scrollToEnd>
    <mat-list class="padding-16 channel-msg" *ngFor="let message of channelMessages; let i = index">
      <div class="user">
        <div class="user-img"><img src="assets/img/user.png"></div>
        <div class="msg-info">
          <div class="pd-left-56"><b>{{ message.fromName }}</b></div>
          <div class="msg-time color-gr">{{ message.timeSent | date:'HH:mm' }} Uhr</div>
        </div>
      </div>
      <div class="pd-left-56 msg-container">
        <div>
          {{message.textMessage}}
        </div>
        <div class="msg-img-container">
          <img src="{{ message.image }}">
        </div>
      </div>
      <div class="response-msg-cont">
        <mat-icon class="answer-icon" matTooltip="antworten" matTooltipPosition="above" (click)="drawer.open()"
        [routerLink]="['/main-page/channel/' + message.channelID + '/thread/' + message.customIdMessage]">
        chat
      </mat-icon>
      </div>
    </mat-list>
  </div>
  <div>
    <app-message-box></app-message-box>
  </div>
  
  <mat-drawer #drawer class="thread-container" mode="side" position="end" [opened]="false">
    <div class="title-container">
      <b>Thread</b>
      <button type="button" mat-button class="close-btn" (click)="drawer.close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer>
</mat-drawer-container>